//********************* Import main files ****************************************************************
@import "fonts";
@import "functions";
@import "variables";
@import "mixins";
@import "normalizer";
@import "grid";

//^ =============================== Global style ===============================
html {
  font-family: $main-font;
  font-size: $root-font-size;
  font-weight: $main-weight;
  color: #000;
}
body {
  background-color: #fefefe;
}
h1,
h2 {
  font-size: rem($title-size);
}
h3 {
  font-size: rem(24px);
}

// ~~~~~~~~~~~~~~~~~~~ Import other components ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@import "../components/header/header";

@import "../components/footer/footer";
