<nav class="nav">
  <div class="container wrapper nav__wrapper">
    <a href="/" class="logo nav__logo">
      <img src="@img/logo.svg" alt="#Agency" />
    </a>
    <ul class="nav__list nav-list wrapper">
      <li class="nav-list__item">
        <a href="#" class="nav-list__link">Home</a>
      </li>
      <li class="nav-list__item">
        <a href="#" class="nav-list__link">Services</a>
      </li>
      <li class="nav-list__item">
        <a href="#" class="nav-list__link">About</a>
      </li>
      <li class="nav-list__item">
        <a href="#" class="nav-list__link">Skills</a>
      </li>
      <li class="nav-list__item">
        <a href="#" class="nav-list__link">Link</a>
      </li>
      <li class="nav-list__item">
        <a href="#" class="nav-list__link">Link 2</a>
      </li>
    </ul>
  </div>
  <!-- /.container wrapper nav__wrapper -->
</nav>
<!-- /.nav -->
